*{
    margin: 0px;
    padding: 0px;
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    font-weight: 200;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text-sm{
    font-size: .875rem;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

a{
    text-decoration: none;
    color: inherit;
}

#other-nav-link{
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.margin{
    margin-left: 15px;
}

.underline{
    text-decoration: underline;
    color: white;
    display: block;
}

#device-support{
    color: white;
    text-align: center;
    margin: auto;
    width: 70%;
}

#callToAction{
    text-align: center;
}