*{
    margin: 0px;
    padding: 0px;
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    /* font-weight: 200; */
    color: #d1d5db;
}
body{
    box-sizing: border-box;
    padding-top: 130px;
}
.container{
    margin: auto;
    width: 72%;
}

.border{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    border: 1px solid #1d1e21 ;
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box;
    /* flex-wrap: wrap; */
}

.links > .mt-20, .firstlink > .mt-20{
    margin-top: 20px;
    color: #d1d5db;
}

.links{
    margin-right: 10px;
    border-left: 1px solid #434c59;
    padding-left: 10px;
    /* width: 15%; */
   
} 

.firstlink{
    padding-right: 10px;
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #272b2f;
    padding-top: 20px;
    
}


.text-sm{
    font-size: .875rem;
}

.text-xl {
    font-size: 1.40rem;
    line-height: 1.75rem;
}

a{
    text-decoration: none;
    color: inherit;
}

#other-nav-link{
    background-color: black;
    
    padding: 5px;
    border-radius: 5px;
    font-size: 0.9rem;
}

#other-nav-link > a{
    color: #d1d5db;
    padding: 3px 7px;
}
/* .margin{
    margin-left: 15px;
} */

.underline{
    text-decoration: underline;
    color: white;
    display: block;
}

/* #device-support{
    color: white;
    text-align: center;
    margin: auto;
    width: 70%;
} */


#callToAction{
    text-align: center;
    font-size: 1.3rem;
    margin: auto;
    width: 65%;
    /* background-color: red; */
}



.bg-darkest{
    padding: 5px 10px;
    border-radius: 5px;
}

.f-2{
    font-size: 3.4rem;
    line-height: 60px;
    padding-top: 40px;
    margin-bottom: 40px;
    
}

.view{
    border:1px solid #1d1e21;
    background-color: #212225;
    padding: 7px 17px;
    border-radius: 5px;
    font-size: 1.1rem;
    /* color: white; */
    box-shadow: -0.25rem -0.25rem 0.5rem #ffffff12, 0.25rem 0.25rem 0.5rem #0000001f, -0.75rem -0.75rem 1.75rem #ffffff12, 0.75rem 0.75rem 1.75rem #0000001f, inset 8rem 8rem 8rem #0000000d, inset -8rem -8rem 8rem #ffffff0d;
}


#device-support{
    margin-top: 32px;
}

#device-support > h2{
    font-size: 1.6rem;
    margin-bottom: 15px;
}


.center{
    text-align: center;
}



.margintop{
    margin-top: 20%;
}

.marginbottom{
    margin-bottom: 20px;
}
.footer{
    background-color: red;
}

.font500, nav{
    font-weight: 500;
}

.p-left{
   padding-right: 10px;
}

nav > div:hover{
    background-color: #191a1d;
    padding: 10px;
    border-radius: 5px;
    box-shadow: -0.25rem -0.25rem 0.5rem #ffffff12, 0.25rem 0.25rem 0.5rem #0000001f, -0.75rem -0.75rem 1.75rem #ffffff12, 0.75rem 0.75rem 1.75rem #0000001f, inset 8rem 8rem 8rem #0000000d, inset -8rem -8rem 8rem #ffffff0d;
}

@media screen and (max-width: 600px) {
    .links {
      width: 100%; /* Set the width to 100% on smaller screens */
      border-left: none; /* Remove the right border */
      border-bottom: 1px solid #434c59; /* Add bottom border */
      /* padding: 25px 0px; */
      padding-bottom: 10px;
      
    }

    .lastlink{
        border-bottom: none;

    }
    .firstlink{
        border-bottom: 1px solid #434c59;
        width: 100%;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 600px) {
    .border {
      flex-wrap: wrap;
    }
  }