*{
    margin: 0px;
    padding: 0px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text-sm{
    font-size: .875rem;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

a{
    text-decoration: none;
    color: inherit;
}

#other-nav-link{
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
}